@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(241,245,241);
}

.text{
    font-size: 9px;
}
.LoadingpageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Set the container height to full viewport height */
  }



  .loader {
    width: 175px;
    height: 80px;
    display: block;
    margin:auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #e0d6d6 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #e0d6d6 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #e0d6d6 100%, transparent 0), linear-gradient(#ddd2d2 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
  }
  .loader::before {
    content: '';  
    left: 60px;
    bottom: 18px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #251f1d;
    background-image: radial-gradient(circle 8px at 18px 18px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, #e0d6d6 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, #e0d6d6 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  .loader::after {
    content: '';  
    left: 94px;
    bottom: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #161312;
    background-image: radial-gradient(circle 5px at 12px 12px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, #e0d6d6 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, #e0d6d6 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @media only screen and (max-width: 468px){

  .mydes{
    margin: 0 auto;
    width: 90%; 
  }
  }

  .getText{
    text-transform: capitalize;
  }